@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html{
  -webkit-font-smoothing: antialiased;
  letter-spacing: 2px;
}

p{
  font-size: 1rem;
  color: rgb(40, 40, 40);
}

h2{
  font-size: 2.6rem;
}
h3{
  margin-top: 0.5em;
}
/*set size of containing wrapper*/
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/*header styles*/
#header{
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 2rem;
  z-index: 100;
}

/*search form styles*/
#search-form{
  position: relative;
  top: 1em;
  height:70px;
}

#search-error{
  position: relative;
  top: 100%;
  display: none;
}



#search-form input[type="text"] {
  height: 60px;
  font-size: 1em;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #ccc;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#search-form input::-webkit-input-placeholder{
  color: #ccc;
}

#search-form input[type="text"]:focus:hover {
  border-bottom: 1px solid #ccc;
}

#search-form input[type="text"]:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 1px solid #ccc;
  cursor: text;
}
#search-form input[type="submit"] {
  height: 67px;
  width: 63px;
  font-family: 'Montserrat';
  display: inline-block;
  color:transparent;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
  transform: scale(0.6);

}

#search-form input[type="submit"]:hover {
  opacity: 0.8;
}

#search-form input[type="submit"]:focus {
  outline: none;
}

/*main content*/
#main{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  text-transform: uppercase;
  position: relative;

  font-family:'Montserrat', sans-serif;
}

#main::before{
  content: 'populr';
  position: absolute;
  transform: rotate(-90deg);
	/*transform-origin: left top 0;*/
  bottom: 1.5em;
  z-index: 20;
  left: -27rem;
  font-size: 10rem;
  font-weight: bold;
  opacity: .2;

}

/*artist section*/

#artist{
  flex-basis: 40%;
  flex-shrink: 0;
  background-color: transparent;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#artist .artist-info{
  -ms-align-self: flex-end;
  align-self: flex-end;
  position: relative;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 8em 0 2em;
}

#artist .artist-info *{
  position: relative;
  z-index: 10;
}

#artist .artist-info::before,
#artist .artist-info::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /*padding-top: 14em;*/
}

#artist .artist-info::after{
  background: rgba(255,255,255, 0.9);
  -webkit-clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0% 100%);
}

#artist .artist-info::before{
  background: rgba(211, 193, 171, 0.9);
  background: rgba(204, 204, 204,0.9);
  -webkit-clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
}

/*top tracks section*/

#top-tracks{
  flex-basis: 60%;
  flex-grow: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#top-tracks .top-tracks__title{
  margin-top: 1em;
}

#top-tracks .top-tracks__title,
#top-tracks .top-tracks__body{
  padding: 0 5em;
}

#top-tracks .top-tracks__body{
  text-align: center;
  padding-bottom: 3.6em;
}

#top-tracks .top-tracks__title h1 {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: .4em;
  position: relative;
  z-index: 10;
  display: inline-block;
  -webkit-filter: drop-shadow(10px 15px 5px rgba(0,0,0,0.3));

}

#top-tracks .top-tracks__title h1::after{
  content: '';
  width: 80%;
  height: 70%;
  border: 5px solid #D3C1AB;
  border: 5px solid #ccc;
  position: absolute;
  top: .5em;
  left: -0.6em;
  z-index: -1;
}

#top-tracks .top-tracks__body{
  /*background-color: rgb(26, 26, 26);*/
  color: black;
}

.tracks{
  padding: 7rem 0;
}

.tracks img{
  /*padding: 5em 0;*/
  height: 200px;
  width: 200px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}



/*related artists*/
.related-artists{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.related-artists__avatars{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 2rem;
}

.related-artists__avatar{
  width: 3.5rem;
  height: 3.5rem;
  /*filter: grayscale(100%);*/
  /*border-radius: 50%;*/
  background: #D3C1AB;
  -webkit-clip-path: polygon(88% 0, 100% 25%, 50% 76%, 0 25%, 15% 0);
clip-path: polygon(88% 0, 100% 25%, 50% 76%, 0 25%, 15% 0);
/*-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/

/*background: url('http://cdn3.pitchfork.com/tracks/17546/homepage_large.121d6621.jpg');*/
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}



/*play - pause */

#audio-controls{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

#play-pause-button{
  display: block;
  width: 100px;
  height: 100px;
  transform: scale(0.2);
  transition: transform 250ms ease-in-out;
  display: none;
  cursor: pointer;
}

#play-pause-button:hover{
  transform: scale(0.2);
}

#play-pause-button::before{
  transition: border 175ms;
  box-sizing: border-box;
  content: "";
  margin: 0 5px;
  border-left: 15px solid black;
  border-bottom: 50px solid black;
  border-right: 20px solid black;
  border-top: 50px solid black;
  display: block;
  float: left;
}

#play-pause-button::after{
  transition: border 175ms;
  box-sizing: border-box;
  float: right;
  content: "";
  border-left: 20px solid black;
  border-bottom: 50px solid black;
  border-right: 15px solid black;
  border-top: 50px solid black;
  display: block;
}

#play-pause-button.play-pause-button-paused::before{
  box-sizing: border-box;
  content: "";
  margin: 0 5px;
  height: 15px;
  width: 0;
  border-left: 80px solid black;
  border-bottom: 50px solid transparent;
  border-right: 0px solid transparent;
  border-top: 50px solid transparent;
  display: block;
  float: left;
}

#play-pause-button.play-pause-button-paused::after{
  box-sizing: border-box;
  float: right;
  content: "";
  border-left: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  display: block;
}

#canvas1{
  width: 100vw;
  height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
  z-index: 0;
}
